/* font-family: 'Abel', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Medula One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rancho', cursive; */
*, *::before, *::after { box-sizing: border-box; }

body {
    background-color:white;
    font-family: 'Nunito', sans-serif;
}

nav {
    /* background-color: aqua; */
    text-align: center;
}

nav ul {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    margin-top: 26px;
    margin-right: 29px;

}

nav img {
    margin-top: 18px;
}
nav li {
    text-transform: uppercase;
    font-size: 1.375rem;
    /* the font size in Figma is 22px, which is 22/16 = 1.375 times root-em which is 1.375rem */
    color: #ffffff;
    font-weight: 400;
}

header {

    background-image: 
    linear-gradient(rgba(74, 36, 9, 1), rgba(0,0,0,0)),
    /* found the color in Figma properties */
    url(../image/header-photo-desktop.jpg);
    
    background-size: cover;
    
}

.masthead {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.125;
    text-shadow: 0px 5px 12px #4A2409;
    text-align: center;
    /* add paddind to make the header photo longer! and make the <p> in the middle */
    padding: 35% 28px 40% 28px;
    
}

.intro {
    text-align: center;
    padding: 60px;
}

.intro p:first-of-type {
    /* target the first p tag in .intro class */
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #6B350E;
    font-weight: 600;
}

.intro h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #6B350E;
}

.intro p:last-of-type {
     /* target the last p tag in .intro class */
    font-size: 1.9rem;
    font-weight: 600;
    color: #6B350E;
}


 .drink-menu {
    background-image: url(../image/drink-menu-photo.jpg);
    
}

 .food-menu {
    background-image: url(../image/food-menu-photo.jpg);
}

